* {
    margin: 0;
    padding: 0;
}

body {
  background-color: rgba(255, 255, 255, 1);
  font-family: sans-serif;
  text-align: center;
  position: center;
}

p {
    position: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
    
.nav{
    background-color: rgb(158, 96, 86);

}
.nav a{
    color: black

}
.nav button{
    color: black;
    font-size: 16px;
}

.header-bg{
    background:rgba(0,0,0,1);    
}

.header-bg a{
    color: rgba(255,255,255,1);
}


div.blackvoices {
    position: center
   
}
div.blackvoices p {
    margin: 0;
    position: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

input[type=text] {
  width: 100vw;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}
.wrapper {
  margin: 0px auto 0;
  width: 100%;
  max-width: 680px;
  padding: 20px;
  box-sizing: border-box;
}

.form {
  width: 100%;
  margin: 25px 0;
}
.wrapper {
  margin: 0px auto 0;
  width: 100%;
  max-width: 680px;
  padding: 20px;
  box-sizing: border-box;
}
.content {
  text-align: center;
  letter-spacing: 1px;
}
.form {
  width: 100%;
  margin: 25px 0;
}

.top-form,
.middle-form,
.bottom-form {
  width: 100%;
  min-height: 65px;
  margin: 10px 0;
}
.form input[type="text"],
.form textarea {
  border: 2px solid #A9A9A9;
  padding: 10px 5px;
  outline: none;
  border-radius: 2px;
  width: 100%;
  transition: all 0.2s ease;
}

.form input:focus,
.form textarea:focus {
  border-color: #8B4513;
  outline: none;
  box-shadow: inset 0 1px 1px #8B4513,
    0 0 8px #8B4513;
}
.form .label {
  margin-bottom: 5px;
  text-transform: capitalize;
}
.top-form .middle {
  width: 29.9%;
  float: left;
  margin-right: 5%;
}

.top-form .middle-form:last-child {
  margin-right: 0;
}
.middle-form {
  clear: both;
}
.bottom-form textarea {
  height: 80px;
}
.bottom-form textarea {
  height: 80px;
}
.btn {
  background: #876852 ;
  width: 200px;
  padding: 10px 0;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
}
